<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ atributos["erro"] }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <main class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-3 login">
                <form class="p-4" id="form_login" method="post" action="/login">
                    <div>
                        <img style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;" class="mb-4 rounded-circle" src="assets/img/logo.jpg" alt="" width="80">
                    </div>

                    <h1 class="h3 mb-3">Iniciar sessão</h1>
                    {% if("erro" in atributos) %}
                    <span class="mt-2 d-block alert alert-danger" id="erro_login">
                        <i class="fas fa-times-circle"> {{ atributos["erro"] }}</i>
                    </span>
                    {% endif %}
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingEmail"
                            placeholder="name@example.com">
                        <label class="text-uppercase fw-bold" for="floatingEmail">nome de usuário</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                            placeholder="Password">
                        <label class="text-uppercase fw-bold" for="floatingPassword">senha</label>
                    </div>




                    <div class="d-flex justify-content-between mb-2">
                        <div class="btn btn-primary w-100 me-2">
                            <img class="d-block m-auto" src="assets/img/facebook.png" alt="" width="30">
                        </div>

                        <div style="border: 1px solid #ccc;" class="btn w-100 me-2">
                            <img class="d-block m-auto" src="assets/img/google.png" alt="" width="30">
                        </div>

                        <div class="btn btn-dark w-100">
                            <img style="filter: invert(100%);" class="d-block m-auto" src="assets/img/logotipo-do-mac-os.png" alt="" width="30">
                        </div>

                    </div>

                    <div class="checkbox mb-4 text-start">
                        <label>
                            <input type="checkbox" value="remember-me"> Manter login
                        </label>
                    </div>

                    <div class="mt-4 mb-4">
                        <button style="width: 80px; height: 70px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;" class="btn btn-lg btn-danger" type="submit">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>

                    <div style="font-size: .85rem;" class="mt-5 mb-3">
                        <div>
                            <a href="http://" class="fw-bold text-decoration-none text-uppercase text-dark">não consegue
                                fazer login?</a>
                        </div>
                        <a href="http://" class="fw-bold text-decoration-none text-uppercase text-dark">Criar conta</a>
                    </div>

                </form>



            </div>
            <div style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" class="col-md-6 col-lg-7 col-xl-9 d-none d-md-block bg-dark p-0 content_banner">
                <div class="banner"></div>
                <a href="/" class="closed">
                    <i class="fas fa-times text-white"></i>
                </a>
            </div>
        </div>

    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script>
        const form_login = document.getElementById('form_login');
        form_login.addEventListener('submit', function (e) {
            e.preventDefault();


            //pegando dados do form
            let email = document.querySelector('#form_login [name=email]').value;
            let senha = document.querySelector('#form_login [name=password]').value;
            let esse = document.querySelectorAll("span");
            for (let x = 0; x < esse.length; x++) {
                console.log(esse[x].id);
                let item = document.querySelector('#' + esse[x].id);
                item.remove();
            }


            /* console.log(email);
             console.log(senha);
             console.log(email.length);*/

            if (email.length > 0 && email != "" && validateEmail(email)) {
                //form_login.submit();
                if (senha.length > 0 && senha != "") {
                    form_login.submit();
                } else {
                    insert_error("password", "Password invalido!!");
                }

            } else {
                insert_error("email", "E-mail invalido!!");
            }

        });

        function insert_error(name, msg) {
            const container = document.querySelectorAll('input[name="' + name + '"]');
            console.log(container[0]);

            let span = document.createElement("span");
            span.classList.add("mt-2");
            span.classList.add("d-block");
            span.classList.add("alert");
            span.classList.add("alert-danger");
            span.setAttribute('id', 'error_' + name);

            let icon = document.createElement("i");
            icon.classList.add("fas");
            icon.classList.add("fa-times-circle");
            span.appendChild(icon);

            let span_item = document.createTextNode(" " + msg);
            span.appendChild(span_item);

            container[0].parentElement.appendChild(span);
        }

        const validateEmail = (email) => {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };

    </script>
</body>

</html>